{% include 'nav.html' %}

<html>
    <head>
        <title>AutoComplete</title>
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
        </script>  
        
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
        </script>  
        
        <link href=  
    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" />  
    </head>
    <body>

<form method="post">
    {% csrf_token %}
    
<input type="text" name="categ" id="cated" placeholder="Add Category" list="category">
<datalist id="category">
{% for i in categ %} 

<option value="{{i.id}}">{{i.name}}</option>

{% endfor %} 
</datalist>
<br><br>


 
<br><br>
<input type="submit" value="Add Category">
</form>

<div>
    <br><br>
        {% for i in messages %} 
 <h4 style="color:red;">{{i}}</h4> 
  {% endfor %}
    
</div>
    
</body>
</html>