{% include 'nav.html' %}

<html>
    <head>
        <title>AutoComplete</title>
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
        </script>  
        
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
        </script>  
        
        <link href=  
    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" />  
    </head>
    <body>

<form method="post">
    {% csrf_token %}
    
<input type="text" name="docnm" id="doc" placeholder="Doctor Name">

<br><br><br>
   
<script>
    $( function() {
           var availableTags = [
           {% for h in dc %}
         
                   "{{h.Doc_Name}}",
                
               {% endfor %}
           ];
           $( "#doc" ).autocomplete({
             source: availableTags
           });
         } );
         </script>


  
 <input type="text" name="deptnm" id="dep" placeholder="Department Name">
        <br><br>

  
       
<script>
    $( function() {
           var availableTags = [
           {% for h in dc %}
         
                 "{{h.Doc_Department}}",
                
               {% endfor %}
           ];
           $( "#dep" ).autocomplete({
             source: availableTags
           });
         } );
         </script>
         
 
<br>
<input type="submit" value="Add Doctor">
</form>
<div>
  <br><br>
      {% for i in messages %} 
<h4 style="color:red;">{{i}}</h4> 
{% endfor %}
  
</div>
  
    
</body>
</html>