{% include 'nav.html' %}

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Doctors List</h2>

<table>
  <tr>
      <th>Id No: </th>
    <th>Categ Name</th>
    <th>Edit</th>
    <th>Date Created</th>
    <th>Date Updated</th>
  </tr>
  
  {% for i in cat %}
  <tr>
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td><a href="{% url 'category_edit' i.id %}"><Button>Edit</Button></a></td>
    <td>{{i.created_at}}</td>
    <td>{{i.updated_at}}</td>

{% endfor %}
  </tr>
  

</table>

</body>
</html>

